{% extends "base.html" %}
{% block body %}
  <div class="container screen-height pad-top pad-btm">
    <dialog class="keybinds-dialog" closedby="any">
      <div class="keybinds-container">
        <div class="keybind">
          <div class="keybind-title">Open This Menu (While Writing)</div>
          <div class="keys">
            <kbd>ctrl</kbd>
            <kbd>/</kbd>
          </div>
        </div>
      </div>
    </dialog>
    <form class="editor" method="post">
      <div class="title-container">
        <input name="title" required placeholder="Enter title...">
        <span class="material-symbols-outlined icon keybinds-help">help</span>
      </div>
      <textarea class="editor-area"
                name="content"
                placeholder="Start typing..."
                required></textarea>
      <div class="actions-container">
        <ul class="actions">
          <li>
            <button type="button" data-template="# <<h1>>\n\n" data-keybind="ctrl+alt+1">H1</button>
          </li>
          <li>
            <button type="button" data-template="## <<h2>>\n\n" data-keybind="ctrl+alt+2">H2</button>
          </li>
          <li>
            <button type="button"
                    data-template="### <<h3>>\n\n"
                    data-keybind="ctrl+alt+3">H3</button>
          </li>
          <li>
            <button type="button"
                    data-template="#### <<h4>>\n\n"
                    data-keybind="ctrl+alt+4">H4</button>
          </li>
          <li>
            <button type="button"
                    data-template="##### <<h5>>\n\n"
                    data-keybind="ctrl+alt+5">H5</button>
          </li>
          <li>
            <button type="button"
                    data-template="###### <<h6>>\n\n"
                    data-keybind="ctrl+alt+6">H6</button>
          </li>
          <li>
            <button type="button" data-template="**<<bold>>**" data-keybind="ctrl+alt+b">Bold</button>
          </li>
          <li>
            <button type="button" data-template="*<<italic>>*" data-keybind="ctrl+alt+i">Italic</button>
          </li>
          <li>
            <button type="button" data-template="`<<code>>`" data-keybind="ctrl+alt+c">Inline Code</button>
          </li>
          <li>
            <button type="button"
                    data-template="[<<title>>](<<link>>)"
                    data-keybind="ctrl+alt+a">Link</button>
          </li>
          <li>
            <button type="button"
                    data-template="1. <<first>>\n2. <<second>>\n3. <<...>>"
                    data-keybind="ctrl+alt+o">Ordered List</button>
          </li>
          <li>
            <button type="button"
                    data-template="- <<first>>\n- <<second>>\n- <<...>>"
                    data-keybind="ctrl+alt+u">Unordered List</button>
          </li>
          <li>
            <button type="button"
                    data-template="> <<quote>>\n> <<line2>>\n\n>— <<author>>"
                    data-keybind="ctrl+alt+q">Quote</button>
          </li>
        </li>
      </ul>
      <button type="submit" class="primary">Save</button>
    </div>
  </form>
</div>
<script src="{{ url_for("static", filename="js/editor.js") }}"></script>
{% endblock body %}
