{% extends "base.html" %}
{% block body %}
  <div class="container">
    <form class="editor-form" method="post">
      <div class="editor-form__title">
        <select name="course" class="bold" required>
          <option value="-1" {% if not courseid %}selected{% endif %} disabled>--select course--</option>
          {% for course in owned_courses %}
            <option value="{{ course["courseid"] }}"
                    {% if courseid|int == course["courseid"] %}selected{% endif %}>{{ course["title"] }}</option>
          {% endfor %}
        </select>
        <span class="bold">/</span>
        <input type="text"
               name="title"
               placeholder="Enter Lesson Title"
               value="{{ lesson_title }}"
               required>
      </div>
      <div class="editor-form__content">
        <div class="editor-form__formatbar">
          <ul class="editor-form__formats">
            <li>
              <button type="button"
                      data-template="# <<h1>>\n\n"
                      data-keybind="ctrl+alt+1"
                      title="H1">
                <span class="material-symbols-outlined icon">format_h1</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="## <<h2>>\n\n"
                      data-keybind="ctrl+alt+2"
                      title="H2">
                <span class="material-symbols-outlined icon">format_h2</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="### <<h3>>\n\n"
                      data-keybind="ctrl+alt+3"
                      title="H3">
                <span class="material-symbols-outlined icon">format_h3</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="#### <<h4>>\n\n"
                      data-keybind="ctrl+alt+4"
                      title="H4">
                <span class="material-symbols-outlined icon">format_h4</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="**<<bold>>**"
                      data-keybind="ctrl+alt+b"
                      title="Bold">
                <span class="material-symbols-outlined icon">format_bold</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="*<<italic>>*"
                      data-keybind="ctrl+alt+i"
                      title="Italic">
                <span class="material-symbols-outlined icon">format_italic</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="`<<code>>`"
                      data-keybind="ctrl+alt+c"
                      title="Code">
                <span class="material-symbols-outlined icon">code</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="[<<title>>](<<link>>)"
                      data-keybind="ctrl+alt+a"
                      title="Link">
                <span class="material-symbols-outlined icon">link</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="1. <<first>>\n2. <<second>>\n3. <<...>>"
                      data-keybind="ctrl+alt+o"
                      title="Number List">
                <span class="material-symbols-outlined icon">format_list_numbered</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="- <<first>>\n- <<second>>\n- <<...>>"
                      data-keybind="ctrl+alt+u"
                      title="Bullet List">
                <span class="material-symbols-outlined icon">format_list_bulleted</span>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="> <<quote>>\n> <<line2>>\n\n>— <<author>>"
                      data-keybind="ctrl+alt+q"
                      title="Quote">
                <span class="material-symbols-outlined icon">format_quote</span>
              </button>
            </li>
          </li>
        </ul>
        <dialog class="help-dialog" closedby="any">
          <section class="rich-text" id="usage">
            <h1>Editor Usage</h1>
            <p>Hello, thanks for using this platform.</p>
            <p>This editor uses Markdown, which is a very mainstream markup language. For example, you can do:</p>
            <ul>
              <li>
                **bold** => <b>bold</b>
              </li>
              <li>
                *italic* => <i>italic</i>
              </li>
              <li>
                [Click me to go somewhere](https://example.com) => <a href="https://example.com" target="_blank">Click me to go somwhere</a>
              </li>
            </ul>
            <p>Many features of Markdown are supported, but not all.</p>
            <p>You can also embed videos by simply adding a link to the video. Currently, only YouTube videos are supported.</p>
            <p>
              If privacy is a concern. You can upload your videos as “unlisted”, and they won't be viewable on YouTube without the link.
            </p>
          </section>
          <section class="rich-text" id="keybinds">
            <h1>Keybinds</h1>
            <div class="keybinds-container">
              <div class="keybind">
                <div class="keybind-title">Open This Menu (While Writing)</div>
                <div class="keys">
                  <kbd>ctrl</kbd>
                  <kbd>/</kbd>
                </div>
              </div>
            </div>
          </section>
        </dialog>
        <button class="help-btn" title="Help">
          <span class="material-symbols-outlined icon">help</span>
        </button>
      </div>
      <textarea class="editor-form__editor"
                name="content"
                placeholder="Start Typing..."
                required>{{ lesson_content }}</textarea>
    </div>
    <div class="editor-form__actions">
      <button type="submit" class="btn" name="batch" value="1">Write Another</button>
      <button type="submit" class="btn primary" name="batch" value="0">Save</button>
    </div>
  </form>
</div>
<script src="{{ url_for("static", filename="js/editor.js") }}"></script>
{% endblock body %}
