{% extends "base.html" %}
{% block body %}
  <div class="container">
    <form class="editor-form" method="post">
      <div class="editor-form__title">
        <select name="course" class="bold" required>
          <option value="-1" {% if not courseid %}selected{% endif %} disabled>--select course--</option>
          {% for course in owned_courses %}
            <option value="{{ course["courseid"] }}"
                    {% if courseid|int == course["courseid"] %}selected{% endif %}>{{ course["title"] }}</option>
          {% endfor %}
        </select>
        <span class="bold">/</span>
        <input type="text"
               name="title"
               placeholder="Enter Lesson Title"
               value="{{ lesson_title }}"
               required>
      </div>
      <div class="editor-form__content">
        <div class="editor-form__formatbar">
          <ul class="editor-form__formats">
            <li>
              <button type="button"
                      data-template="# <<h1>>\n\n"
                      data-keybind="ctrl+alt+1"
                      title="H1">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M236,112v96a12,12,0,0,1-24,0V134.42L206.66,138a12,12,0,0,1-13.32-20l24-16A12,12,0,0,1,236,112ZM144,44a12,12,0,0,0-12,12v48H52V56a12,12,0,0,0-24,0V176a12,12,0,0,0,24,0V128h80v48a12,12,0,0,0,24,0V56A12,12,0,0,0,144,44Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="## <<h2>>\n\n"
                      data-keybind="ctrl+alt+2"
                      title="H2">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M156,56V176a12,12,0,0,1-24,0V128H52v48a12,12,0,0,1-24,0V56a12,12,0,0,1,24,0v48h80V56a12,12,0,0,1,24,0Zm84,140H216l28.74-38.33A36,36,0,1,0,182.05,124a12,12,0,0,0,22.63,8,11.67,11.67,0,0,1,1.73-3.22,12,12,0,1,1,19.15,14.46L182.4,200.8A12,12,0,0,0,192,220h48a12,12,0,0,0,0-24Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="### <<h3>>\n\n"
                      data-keybind="ctrl+alt+3"
                      title="H3">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M252,180a40,40,0,0,1-68.57,28,12,12,0,1,1,17.14-16.79A16,16,0,1,0,212,164a12,12,0,0,1-9.83-18.88L217,124H192a12,12,0,0,1,0-24h48a12,12,0,0,1,9.83,18.88l-18.34,26.2A40,40,0,0,1,252,180ZM144,44a12,12,0,0,0-12,12v48H52V56a12,12,0,0,0-24,0V176a12,12,0,0,0,24,0V128h80v48a12,12,0,0,0,24,0V56A12,12,0,0,0,144,44Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="#### <<h4>>\n\n"
                      data-keybind="ctrl+alt+4"
                      title="H4">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M156,56V176a12,12,0,0,1-24,0V128H52v48a12,12,0,0,1-24,0V56a12,12,0,0,1,24,0v48h80V56a12,12,0,0,1,24,0ZM256,184a12,12,0,0,1-12,12v12a12,12,0,0,1-24,0V196H180a12,12,0,0,1-9.73-19l52-72A12,12,0,0,1,244,112v60A12,12,0,0,1,256,184Zm-36-34.89L203.47,172H220Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="**<<bold>>**"
                      data-keybind="ctrl+alt+b"
                      title="Bold">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M185.08,114.46A48,48,0,0,0,148,36H80A12,12,0,0,0,68,48V200a12,12,0,0,0,12,12h80a52,52,0,0,0,25.08-97.54ZM92,60h56a24,24,0,0,1,0,48H92Zm68,128H92V132h68a28,28,0,0,1,0,56Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="*<<italic>>*"
                      data-keybind="ctrl+alt+i"
                      title="Italic">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M204,56a12,12,0,0,1-12,12H160.65l-40,120H144a12,12,0,0,1,0,24H64a12,12,0,0,1,0-24H95.35l40-120H112a12,12,0,0,1,0-24h80A12,12,0,0,1,204,56Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="`<<code>>`"
                      data-keybind="ctrl+alt+c"
                      title="Code">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M71.68,97.22,34.74,128l36.94,30.78a12,12,0,1,1-15.36,18.44l-48-40a12,12,0,0,1,0-18.44l48-40A12,12,0,0,1,71.68,97.22Zm176,21.56-48-40a12,12,0,1,0-15.36,18.44L221.26,128l-36.94,30.78a12,12,0,1,0,15.36,18.44l48-40a12,12,0,0,0,0-18.44ZM164.1,28.72a12,12,0,0,0-15.38,7.18l-64,176a12,12,0,0,0,7.18,15.37A11.79,11.79,0,0,0,96,228a12,12,0,0,0,11.28-7.9l64-176A12,12,0,0,0,164.1,28.72Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="[<<title>>](<<link>>)"
                      data-keybind="ctrl+alt+a"
                      title="Link">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M80,116h96a12,12,0,0,1,0,24H80a12,12,0,0,1,0-24Zm24,48H64a36,36,0,0,1,0-72h40a12,12,0,0,0,0-24H64a60,60,0,0,0,0,120h40a12,12,0,0,0,0-24Zm88-96H152a12,12,0,0,0,0,24h40a36,36,0,0,1,0,72H152a12,12,0,0,0,0,24h40a60,60,0,0,0,0-120Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="1. <<first>>\n2. <<second>>\n3. <<...>>"
                      data-keybind="ctrl+alt+o"
                      title="Number List">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M228,128a12,12,0,0,1-12,12H116a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128ZM116,76H216a12,12,0,0,0,0-24H116a12,12,0,0,0,0,24ZM216,180H116a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24ZM44,59.31V104a12,12,0,0,0,24,0V40A12,12,0,0,0,50.64,29.27l-16,8a12,12,0,0,0,9.36,22Zm39.73,96.86a27.7,27.7,0,0,0-11.2-18.63A28.89,28.89,0,0,0,32.9,143a27.71,27.71,0,0,0-4.17,7.54,12,12,0,0,0,22.55,8.21,4,4,0,0,1,.58-1,4.78,4.78,0,0,1,6.5-.82,3.82,3.82,0,0,1,1.61,2.6,3.63,3.63,0,0,1-.77,2.77l-.13.17L30.39,200.82A12,12,0,0,0,40,220H72a12,12,0,0,0,0-24H64l14.28-19.11A27.48,27.48,0,0,0,83.73,156.17Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="- <<first>>\n- <<second>>\n- <<...>>"
                      data-keybind="ctrl+alt+u"
                      title="Bullet List">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M76,64A12,12,0,0,1,88,52H216a12,12,0,0,1,0,24H88A12,12,0,0,1,76,64Zm140,52H88a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24Zm0,64H88a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24ZM44,112a16,16,0,1,0,16,16A16,16,0,0,0,44,112Zm0-64A16,16,0,1,0,60,64,16,16,0,0,0,44,48Zm0,128a16,16,0,1,0,16,16A16,16,0,0,0,44,176Z">
                  </path>
                </svg>
              </button>
            </li>
            <li>
              <button type="button"
                      data-template="> <<quote>>\n> <<line2>>\n\n>— <<author>>"
                      data-keybind="ctrl+alt+q"
                      title="Quote">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                  <path d="M100,52H40A20,20,0,0,0,20,72v64a20,20,0,0,0,20,20H96v4a28,28,0,0,1-28,28,12,12,0,0,0,0,24,52.06,52.06,0,0,0,52-52V72A20,20,0,0,0,100,52Zm-4,80H44V76H96ZM216,52H156a20,20,0,0,0-20,20v64a20,20,0,0,0,20,20h56v4a28,28,0,0,1-28,28,12,12,0,0,0,0,24,52.06,52.06,0,0,0,52-52V72A20,20,0,0,0,216,52Zm-4,80H160V76h52Z">
                  </path>
                </svg>
              </button>
            </li>
          </li>
        </ul>
        <dialog class="help-dialog" closedby="any">
          <section class="rich-text" id="usage">
            <h1>Editor Usage</h1>
            <p>Hello, thanks for using this platform.</p>
            <p>This editor uses Markdown, which is a very mainstream markup language. For example, you can do:</p>
            <ul>
              <li>
                **bold** => <b>bold</b>
              </li>
              <li>
                *italic* => <i>italic</i>
              </li>
              <li>
                [Click me to go somewhere](https://example.com) => <a href="https://example.com" target="_blank">Click me to go somwhere</a>
              </li>
            </ul>
            <p>Many features of Markdown are supported, but not all.</p>
            <p>You can also embed videos by simply adding a link to the video. Currently, only YouTube videos are supported.</p>
            <p>
              If privacy is a concern. You can upload your videos as “unlisted”, and they won't be viewable on YouTube without the link.
            </p>
          </section>
          <section class="rich-text" id="keybinds">
            <h1>Keybinds</h1>
            <div class="keybinds-container">
              <div class="keybind">
                <div class="keybind-title">Open This Menu (While Writing)</div>
                <div class="keys">
                  <kbd>ctrl</kbd>
                  <kbd>/</kbd>
                </div>
              </div>
            </div>
          </section>
        </dialog>
        <button class="help-btn" title="Help">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon"
               fill="currentColor"
               viewBox="0 0 256 256">
            <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,168a12,12,0,1,1,12-12A12,12,0,0,1,128,192Zm8-48.72V144a8,8,0,0,1-16,0v-8a8,8,0,0,1,8-8c13.23,0,24-9,24-20s-10.77-20-24-20-24,9-24,20v4a8,8,0,0,1-16,0v-4c0-19.85,17.94-36,40-36s40,16.15,40,36C168,125.38,154.24,139.93,136,143.28Z">
            </path>
          </svg>
        </button>
      </div>
      <textarea class="editor-form__editor"
                name="content"
                placeholder="Start Typing..."
                required>{{ lesson_content }}</textarea>
    </div>
    <div class="editor-form__actions">
      <button type="submit" class="btn" name="batch" value="1">Write Another</button>
      <button type="submit" class="btn primary" name="batch" value="0">Save</button>
    </div>
  </form>
</div>
<script src="{{ url_for("static", filename="js/editor.js") }}"></script>
{% endblock body %}
