{% extends "base.html" %}
{% block body %}
  <div class="container pad-top pad-btm">
    <div class="flex-container space-between align-center lesson-title">
      <h4>{{ lesson_title }}</h4>
      {% if is_owner %}
        <div class="dropdown">
          <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
          <ul class="dropdown-content">
            <li>
              <a href="{{ url_for(".update", id=lesson_id, redirect=true) }}"
                 class="btn">
                <span class="icon-text">
                  <span class="material-symbols-outlined icon">edit</span>
                  <span class="text">Edit</span>
                </span>
              </a>
            </li>
            <li>
              <button onclick="deleteEnt('lesson',id=[{{ lesson_id }}], redirect=true)">
                <span class="icon-text">
                  <span class="material-symbols-outlined icon">delete</span>
                  <span class="text">Delete</span>
                </span>
              </button>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="lesson-content">{{ content | safe }}</div>
  </div>
  <script src="{{ url_for("static", filename="js/render.js") }}"></script>
{% endblock body %}
