{% extends "base_auth.html" %}
{% block form %}
  <div class="input-container">
    <label for="cred">Email or Username</label>
    <input type="text"
           name="cred"
           id="cred"
           placeholder="usrx18@gmail.com or usrx18"
           autocomplete="email"
           required>
  </div>
  <div class="input-container">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           id="password"
           placeholder="Your password..."
           autocomplete="current-password"
           required>
  </div>
  <button type="submit" class="btn primary">Log In</button>
{% endblock form %}
