* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

body {
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-900);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4,
h5,
h6 {
  font-size: 1.953rem;
}

p,
input,
textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

button,
b,
strong,
.btn,
.bold {
  font-weight: 700;
}

button,
.btn {
  font-size: 0.9rem;
}

small,
.small,
.attr {
  font-size: 0.8rem;
}

/* resets */
button {
  background-color: transparent;
  outline: none;
  border: none;
  /* needed for some reason for the button in .dropdown */
  cursor: pointer;
}

a {
  color: var(--clr-primary-500);
  text-decoration: none;
}
