:root {
  /* sizes */
  --size-max-width: 800px;

  /* v is vertical, and h is horizontal */
  --space-screen-vgap: 48px;
  --space-screen-hgap: 16px;
  --space-sidebar-pad: 32px;

  --space-rendered-gap: 24px;
  --space-heading-margin: 48px;
  --space-pgraph-margin: 32px;

  --font-size-h1: 3.815rem;
  --font-size-h2: 3.052rem;
  --font-size-h3: 2.441rem;
  --font-size-h4: 1.953rem;
  --font-size-body: 1rem;
  --font-size-btn: 0.9rem;
  --font-size-small: 0.8rem;
}

body {
  --clr-bg-lt: #fafafa;
  --clr-bg: #f5f5f5;
  --clr-bg-drk: #e5e5e5;
  --clr-bg-drkr: #757575;

  --clr-text: #111;

  --clr-primary-ltr: #cedffa;
  --clr-primary-lt: #a7c9ff;
  --clr-primary: #194eac;

  --clr-danger-ltr: #eda4b6;
  --clr-danger-drkr: #981e3c;
}

/* body.dark { */
/* } */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4,
h5,
h6 {
  font-size: var(--font-size-h4);
}

p,
input,
textarea {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.6;
}

input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

button,
b,
strong,
.btn,
.bold {
  font-weight: 700;
}

button,
.btn {
  font-size: var(--font-size-btn);
}

small,
.small {
  font-size: var(--font-size-small);
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}
