:root {
  /* sizes */
  --size-max-width: 800px;
  --size-msg: 500px;
  --size-topbar-height: 4rem;

  /* spacings */
  --space-screen-gap: 16px;
  --space-sidebar-pad: 32px;

  --space-section: 72px;
  --space-heading: 48px;
  --space-richtext-list: 48px;
  --space-subsection: 24px;
  --space-paragraph: 16px;

  /* font */
  --font-size-small: 0.8rem;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

body {
  --clr-bg: #f5f5f5;
  --clr-bg-overlay: #fafafa;
  --clr-bg-outline: #9f9f9f;
  --clr-danger: #eda4b6;
  --clr-primary: #a7c9ff;
  --clr-text: #111;
  --clr-text-danger: #981e3c;
  --clr-text-primary: #194eac;

  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

body.dark-theme {
  --clr-bg: #111;
  --clr-bg-overlay: #252529;
  --clr-bg-outline: #7a8396;
  --clr-danger: #bc7083;
  --clr-primary: #4c6a98;
  --clr-text: #e2e2e2;
  --clr-text-danger: #981e3c;
  --clr-text-primary: #759fe6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6 {
  font-size: 1.125rem;
}

p,
input,
textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

input,
textarea,
button,
.btn {
  font-family: "Inter", sans-serif;
}

b,
strong,
button,
.btn,
.bold {
  font-weight: 700;
}

button,
.btn {
  font-size: var(--font-size-small);
}

small,
.small {
  font-size: var(--font-size-small);
}

a {
  color: var(--clr-text-primary);
  text-decoration: none;
}

hr {
  color: var(--clr-bg-outline);
}

.heading-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:not(.heading-group) > :where(h1, h2, h3, h4, h5, h6),
.heading-group {
  margin-bottom: var(--space-heading);
}

/* cancel the above for some special cases */
.no-margin {
  margin-bottom: 0px;
}

.rich-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-paragraph);
}

.rich-text :is(h1, h2, h3, h4, h5, h6) {
  /* exclude the default gap applied by .rich-text */
  margin-block: calc(var(--space-heading) - var(--space-paragraph));
}

.rich-text :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0px;
}

.rich-text :is(h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0px;
}

.rich-text :is(ol, ul) {
  margin-inline-start: var(--space-richtext-list);
}

/* Topbar */
.topbar {
  display: flex;
  gap: 24px;
  background-color: var(--clr-bg-overlay);
  width: 100%;
  height: var(--size-topbar-height);
  padding-inline: var(--space-sidebar-pad);
  border-bottom: 1px solid var(--clr-bg-outline);
  align-items: center; /* ensure the icon and text are centered vertically */
  position: sticky;
  top: 0;
  z-index: 99;
}

/* hide the menu icon if the sidebar is open */
body:has(.sidebar.open) .topbar .menu-icon {
  display: none;
}

/* hide the close icon if the sidebar is not open */
body:not(:has(.sidebar.open)) .topbar .close-icon {
  display: none;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10%;
  background-color: var(--clr-bg-overlay);
  max-width: 100%;
  height: calc(100vh - var(--size-topbar-height));
  padding: var(--space-sidebar-pad);
  border-right: 1px solid var(--clr-bg-outline);
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 99;
  transition: transform 200ms ease-in-out;
}

.sidebar nav {
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0%);
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sidebar a {
  display: block;
  color: inherit;
  padding: 12px 8px;
  transition: background-color 200ms ease-out;
}

.sidebar a:hover {
  background-color: var(--clr-primary);
}

.sidebar .profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar .profile__details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.sidebar .profile__details p,
.sidebar .profile__details small {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .profile .icon {
  font-size: 2.2rem;
}

main,
.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-section);
}

main {
  flex-grow: 1;
  padding-bottom: var(--space-section);
}

/* Topbar margin, for components other than banners */
main > :first-child:not(.banner) {
  margin-top: var(--space-section);
}

.container {
  width: var(--size-max-width);
  max-width: 100%;
  padding-inline: var(--space-screen-gap);
  margin-inline: auto;
  flex-grow: 1;
}
