/* Global Components */
/* ----------------- */

/* Message Component */
.msg-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80vw;
  max-width: 500px;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  overflow: visible hidden;
  scrollbar-width: none;
  z-index: 100;
}

.msg-container .msg:first-child {
  margin-top: 24px;
}

.msg-container .msg:last-child {
  margin-bottom: 24px;
}

.msg {
  display: flex;
  gap: 8px;
  background-color: var(--clr-primary-ltr);
  width: 100%;
  padding: 8px 24px;
  border: 1px solid var(--clr-text);
  border-radius: 4px;
  transition:
    transform 350ms ease-in-out,
    opacity 300ms ease-in-out;
  user-select: none;
  cursor: pointer;
}

.msg.fade-out {
  transform: translateX(80%);
  opacity: 0;
}

.msg.error {
  background-color: var(--clr-danger-lt);
}

/* Button Component */
.btn {
  display: block;
  background-color: var(--clr-bg-lt);
  color: inherit;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  border: 2px solid var(--clr-text);
  border-radius: 8px;
  text-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Button Variant */
.btn.primary {
  background-color: var(--clr-primary-ltr);
}

/* Form & Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* avoid styling nested submit button, it's handled by their container */
form > button[type="submit"] {
  margin-top: 32px;
  align-self: flex-end;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container input,
.input-container textarea {
  --invalid-clr: var(--clr-danger-drkr);
  --focus-clr: var(--clr-primary);

  background-color: var(--clr-bg-lt);
  border-radius: 4px;
  border: 2px solid var(--clr-text);
  padding: 8px 12px;
}

.input-container input:focus-visible,
.input-container textarea:focus-visible {
  outline: none;
  border-color: var(--focus-clr);
}

.input-container input:user-invalid,
.input-container textarea:user-invalid {
  color: var(--invalid-clr);
  border-color: var(--invalid-clr);
}

.input-container input:user-invalid::placeholder,
.input-container textarea:user-invalid::placeholder {
  color: var(--invalid-clr);
}

.input-container textarea {
  min-height: 50px; /* avoid shrinking too much */
  resize: vertical;
}

/* Dialog Component */
dialog {
  background-color: var(--clr-bg);
  width: 80vw;
  max-width: min(var(--size-max-width), 80vw);
  padding: 32px;
  border: 1px solid var(--clr-text);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: none;
}

dialog::backdrop {
  background-color: color-mix(in srgb, black 30%, transparent);
}

/* Dropdown Menu Component */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--clr-bg-lt);
  padding: 16px 24px;
  border: 2px solid var(--clr-text);
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}

.dropdown-content li:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--clr-bg-drk);
}

.dropdown-content button,
.dropdown-content .btn {
  background-color: transparent;
  padding: 0;
  border: none;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-content li > * {
  width: 100%;
}

/* Icon-Text Compound Component */
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  height: fit-content;
  user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 100ms ease-out;
}

/* Card Component */
.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--clr-bg-lt);
  padding: 16px 24px;
  border: 2px solid var(--clr-text);
  border-radius: 4px;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.attr {
  background-color: var(--clr-primary-ltr);
  font-size: var(--font-size-small);
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid var(--clr-primary-lt);
  border-radius: 4px;
}

/* Lesson Editor Components */
/* ------------------------ */
.keybinds-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  width: 100%;
}

.keybind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}

.keybind .keys {
  display: flex;
  gap: 6px;
}

/* kbd Component */
.keybind kbd {
  background-color: var(--clr-bg-lt);
  min-width: 40px; /* Ensure all 1 chars are the same width */
  margin-bottom: 4px;
  padding: 6px 12px;
  border: 2px solid var(--clr-text);
  border-bottom-width: 4px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}

.editor-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
}

.editor-form__title,
.editor-form__content {
  background-color: var(--clr-bg-lt);
  border: 2px solid var(--clr-text);
  border-radius: 8px;
}

.editor-form__title {
  display: flex;
  gap: 4px;
  padding: 6px 12px;
}

/* parents set the background color */
.editor-form__title input,
.editor-form__editor {
  background-color: transparent;
}

/* TODO: make select fit content */
.editor-form__title select {
  appearance: none;
  background-color: transparent;
  max-width: 35%;
  text-overflow: ellipsis;
  border: none;
  font-size: inherit;
}

.editor-form__title span {
  position: relative;
  /* make the "/" on bottom aligned to the others */
  bottom: -3px;
}

.editor-form__title input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
}

.editor-form__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.editor-form__formatbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 16px;
  width: 100%;
  border-bottom: 2px solid var(--clr-text);
}

.editor-form__formats {
  display: flex;
  width: 100%;
  overflow-y: auto;
  text-wrap: nowrap;
  list-style: none;
  scrollbar-width: none;
}

.editor-form__formatbar button {
  background-color: transparent;
  border: none;
  width: fit-content;
  border-radius: 4px;
  padding: 4px 8px;
}

.editor-form__formatbar button:hover,
.editor-form__formatbar button:focus-visible {
  background-color: var(--clr-primary-ltr);
}

.editor-form__editor {
  width: 100%;
  flex-grow: 1;
  padding: 16px;
  border-radius: none;
  border: none;
  outline: none;
  resize: none;
}

.editor-form__actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* Lesson Render Components */
/* ------------------------ */
.lesson-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--clr-bg-drk);
  margin-bottom: 48px;
}

.lesson-course {
  color: var(--clr-primary);
  text-decoration: none;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Code Component */
code {
  background-color: var(--clr-bg-drk);
  font-size: var(--font-size-small);
  border: 1px solid var(--clr-text);
  padding: 4px;
  border-radius: 4px;
}

/* Blockquote Component */
blockquote {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--clr-bg-drk);
  padding: 16px;
  border-radius: 4px;
}

blockquote p:first-of-type {
  margin-inline-start: 16px;
}

blockquote p:first-of-type::before {
  content: "“";
}

blockquote p:first-of-type::after {
  content: "”";
}

/* YT Iframe Component */
iframe.yt {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Course Viewer Components */
/* ------------------------ */
.course-header-container {
  background-color: var(--clr-primary-ltr);
  margin-bottom: 62px;
}

.course-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.course-title {
  margin-bottom: 12px;
}

.lessons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
