/* Global Components */
/* ----------------- */

/* Message Component */
.msg-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80vw;
  max-width: var(--size-msg);
  max-height: 100vh;
  margin-top: calc(var(--size-topbar-height) * (2 / 3));
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  overflow: visible hidden;
  scrollbar-width: none;
  z-index: 100;
}

.msg {
  --msg-bg: var(--clr-primary);
  --msg-accent: var(--clr-text-primary);

  display: flex;
  gap: 8px;
  background-color: var(--msg-bg);
  width: 100%;
  padding: 8px 24px;
  border: 2px solid var(--msg-accent);
  border-radius: 4px;
  transition:
    transform 350ms ease-in-out,
    opacity 300ms ease-in-out;
  user-select: none;
  cursor: pointer;
}

.msg .icon {
  color: var(--msg-accent);
}

.msg.fade-out {
  transform: translateX(80%);
  opacity: 0;
}

.msg.error {
  --msg-bg: var(--clr-danger);
  --msg-accent: var(--clr-text-danger);
}

/* Button Component */
.btn {
  display: block;
  background-color: var(--clr-bg-overlay);
  color: var(--clr-text);
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  border: 2px solid var(--clr-bg-outline);
  border-radius: 8px;
  text-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* Button Variant */
.btn.primary {
  background-color: var(--clr-primary);
}

/* Form & Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* avoid styling nested submit button, it's handled by their container */
form > button[type="submit"] {
  margin-top: 32px;
  align-self: flex-end;
}

form .btns-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container input,
.input-container textarea {
  --invalid-clr: var(--clr-text-danger);
  --focus-clr: var(--clr-text-primary);

  background-color: var(--clr-bg-overlay);
  color: inherit;
  border-radius: 4px;
  border: 2px solid var(--clr-bg-outline);
  padding: 8px 12px;
}

.input-container input:focus-visible,
.input-container textarea:focus-visible {
  outline: none;
  border-color: var(--focus-clr);
}

.input-container input:user-invalid,
.input-container textarea:user-invalid {
  color: var(--invalid-clr);
  border-color: var(--invalid-clr);
}

.input-container input::placeholder,
.input-container textarea::placeholder {
  color: var(--clr-bg-outline);
}

.input-container input:user-invalid::placeholder,
.input-container textarea:user-invalid::placeholder {
  color: var(--invalid-clr);
}

.input-container textarea {
  min-height: 50px;
  resize: vertical;
}

/* Dialog Component */
dialog {
  background-color: var(--clr-bg);
  color: inherit;
  width: 80vw;
  max-width: min(var(--size-max-width), 80vw);
  padding: 32px;
  border: 1px solid var(--clr-bg-outline);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: none;
}

dialog::backdrop {
  background-color: color-mix(in srgb, black 30%, transparent);
}

dialog section:not(:last-child) {
  margin-bottom: var(--space-section);
}

/* Dropdown Menu Component */
.dropdown {
  position: relative;
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--clr-bg-overlay);
  padding: 16px 24px;
  border: 2px solid var(--clr-bg-outline);
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}

.dropdown-content li:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--clr-bg-outline);
}

.dropdown-content button,
.dropdown-content .btn {
  background-color: transparent;
  padding: 0;
  border: none;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-content li > * {
  width: 100%;
}

/* Icon-Text Compound Component */
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 1.2rem;
}

.icon-large {
  width: 2.5rem;
}

/* Card Component */
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-subsection);
  background-color: var(--clr-bg-overlay);
  padding: 24px 24px;
  border: 2px solid var(--clr-bg-outline);
  border-radius: 4px;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-paragraph);
}

.card-title {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.card-title .main-title {
  flex-grow: 1;
}

.card-header a {
  color: inherit;
}

.drag-area {
  cursor: grab;
}

#dragged-card {
  opacity: 0.5;
}

.drag-placeholder {
  border: 2px dotted var(--clr-bg-outline);
  border-radius: 4px;
}

.attr {
  background-color: var(--clr-primary);
  font-size: var(--font-size-small);
  width: fit-content;
  padding: 4px 12px;
  border: 1px solid var(--clr-bg-outline);
  border-radius: 999px;
}

/* TODO: Is this page-specific? then move it, else make it more re-usable */
/* It's probably not page-specific and can be improved */

/* Home */
/* ------------------------ */
.welcome {
  text-align: center;
}

.welcome h1 {
  font-size: 3rem;
}

.welcome .logo {
  color: var(--clr-text-primary);
}

/* Lesson Editor Components */
/* ------------------------ */
.keybinds-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  width: 100%;
}

.keybind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--clr-text);
  height: fit-content;
}

.keybind .keys {
  display: flex;
  gap: 6px;
}

/* kbd Component */
.keybind kbd {
  background-color: var(--clr-bg-overlay);
  min-width: 40px;
  margin-bottom: 4px;
  padding: 6px 12px;
  border: 2px solid var(--clr-bg-outline);
  border-bottom-width: 4px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}

.editor-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-paragraph);
  flex-grow: 1;
}

.editor-form__title,
.editor-form__content {
  border: 2px solid var(--clr-bg-outline);
  border-radius: 8px;
}

.editor-form__title {
  display: flex;
  gap: 4px;
  background-color: var(--clr-bg-overlay);
  padding: 6px 12px;
}

/* parents set the background color */
.editor-form__title input,
.editor-form__editor {
  background-color: transparent;
}

/* TODO: make select fit content */
.editor-form__title select {
  appearance: none;
  background-color: transparent;
  color: inherit;
  max-width: 35%;
  text-overflow: ellipsis;
  border: none;
  font-size: inherit;
}

.editor-form__title span {
  position: relative;
  /* make the "/" on bottom aligned to the others */
  bottom: -3px;
}

.editor-form__title input {
  flex-grow: 1;
  color: inherit;
  width: 100%;
  border: none;
  outline: none;
}

.editor-form__title input::placeholder,
.editor-form__editor::placeholder {
  color: var(--clr-bg-outline);
}

.editor-form__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.editor-form__formatbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--clr-bg-overlay);
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid var(--clr-bg-outline);
}

.editor-form__formats {
  display: flex;
  width: 100%;
  overflow-y: auto;
  text-wrap: nowrap;
  list-style: none;
  scrollbar-width: none;
}

.editor-form__formatbar button {
  background-color: transparent;
  color: inherit;
  width: fit-content;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editor-form__formatbar button:hover,
.editor-form__formatbar button:focus-visible {
  background-color: var(--clr-primary);
}

.editor-form__formatbar .help-btn {
  color: var(--clr-bg-outline);
}

.editor-form__editor {
  width: 100%;
  flex-grow: 1;
  color: inherit;
  padding: 16px;
  border: none;
  outline: none;
  resize: none;
}

.editor-form__actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* Lesson Render Components */
/* ------------------------ */
.lesson-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--clr-bg-outline);
}

/* Code Component */
code {
  background-color: var(--clr-bg-overlay);
  font-size: var(--font-size-small);
  border: 1px solid var(--clr-text);
  padding: 4px;
  border-radius: 4px;
}

/* Blockquote Component */
blockquote {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--clr-bg-overlay);
  padding: 16px;
  border-radius: 4px;
}

blockquote p:first-of-type {
  margin-inline-start: 16px;
}

blockquote p:first-of-type::before {
  content: "“";
}

blockquote p:first-of-type::after {
  content: "”";
}

/* YT Iframe Component */
iframe.yt {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Course Viewer Components */
/* ------------------------ */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary);
  width: 100%;
  padding-block: var(--space-section);
}

.lessons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
