/* Button Component */
button,
.btn {
  display: block;
  background-color: var(--clr-gray-050);
  color: inherit;
  padding: 8px 12px;
  border: 2px solid var(--clr-gray-900);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 449px) {
  button,
  .btn {
    width: 100%;
  }
}

@media (min-width: 450px) {
  button,
  .btn {
    width: fit-content;
  }
}

/* Button Variant */
button.primary,
.btn.primary {
  background-color: var(--clr-primary-050);
}

/* kbd Component */
kbd {
  min-width: 40px; /* Ensure all 1 chars are the same width */
  margin-bottom: 4px;
  padding: 6px 12px;
  border: 2px solid var(--clr-gray-900);
  border-bottom-width: 4px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* Code Component */
code {
  background-color: var(--clr-gray-200);
  border: 1px solid var(--clr-gray-500);
  padding: 4px;
  border-radius: 4px;
}

/* Blockquote Component */
blockquote {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--clr-gray-200);
  padding: 15px;
  border-radius: 4px;
}

blockquote p:first-of-type {
  margin-inline-start: 16px;
}

blockquote p:first-of-type::before {
  content: "“";
}

blockquote p:first-of-type::after {
  content: "”";
}

/* Form & Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* avoid styling nested submit button, it's handled by their container */
form > button[type="submit"] {
  margin-top: 32px;
  align-self: flex-end;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container input {
  padding: 8px 12px;
}

/* Dialog Component */
dialog {
  background-color: var(--clr-gray-100);
  width: 80vw;
  max-width: min(var(--size-max-width), 80vw);
  padding: 32px;
  border: 1px solid var(--clr-gray-900);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: none;
}

dialog::backdrop {
  background-color: color-mix(in srgb, black 30%, transparent);
}

/* Lesson Render Components */
.lesson-title {
  margin-bottom: 48px;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Lesson Editor Components */
.keybinds-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  width: 100%;
}

.keybind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}

.keybind kbd {
  background-color: var(--clr-gray-050);
}

.keybind .keys {
  display: flex;
  gap: 6px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-container .icon {
  color: var(--clr-gray-500);
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
  padding: 48px 0;
}

.editor input {
  background-color: inherit;
  border: none;
  flex-grow: 1;
}

.editor .editor-area {
  background-color: inherit;
  flex-grow: 1;
  border: none;
  resize: none;
}

.editor .editor-area:focus,
.editor input {
  border: none;
  outline: none;
}

.editor .actions-container {
  display: flex;
  gap: 32px;
}

.editor .actions {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor .actions li {
  display: inline;
}

.editor .actions button {
  text-wrap: nowrap;
}

/* YT Iframe Component */
iframe.yt {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Icon-Text Compound Component */
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 100ms ease-out;
}

:not(.icon-text) > .icon:hover {
  color: var(--clr-gray-300);
}

/* Dropdown Menu Component */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--clr-gray-100);
  padding: 16px 24px;
  border: 2px solid var(--clr-gray-900);
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-content li > * {
  width: 100%;
}
