/* Button Component */
button,
.btn {
  display: block;
  background-color: var(--clr-gray-050);
  color: inherit;
  padding: 8px 12px;
  border: 2px solid var(--clr-gray-900);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 449px) {
  button,
  .btn {
    width: 100%;
  }
}

@media (min-width: 450px) {
  button,
  .btn {
    width: fit-content;
  }
}

/* Button Variant */
button.primary,
.btn.primary {
  background-color: var(--clr-primary-050);
}

/* kbd Component */
kbd {
  min-width: 40px; /* Ensure all 1 chars are the same width */
  margin-bottom: 4px;
  padding: 6px 12px;
  border: 2px solid var(--clr-gray-900);
  border-bottom-width: 4px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* Code Component */
code {
  background-color: var(--clr-gray-200);
  border: 1px solid var(--clr-gray-500);
  padding: 4px;
  border-radius: 4px;
}

/* Blockquote Component */
blockquote {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--clr-gray-200);
  padding: 15px;
  border-radius: 4px;
}

blockquote p:first-of-type {
  margin-inline-start: 16px;
}

blockquote p:first-of-type::before {
  content: "“";
}

blockquote p:first-of-type::after {
  content: "”";
}

/* Form & Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* avoid styling nested submit button, it's handled by their container */
form > button[type="submit"] {
  margin-top: 32px;
  align-self: flex-end;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container input {
  padding: 8px 12px;
}

/* Dialog Component */
dialog {
  background-color: var(--clr-gray-100);
  width: 80vw;
  max-width: min(var(--size-max-width), 80vw);
  padding: 32px;
  border: 1px solid var(--clr-gray-900);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: none;
}

dialog::backdrop {
  background-color: color-mix(in srgb, black 30%, transparent);
}

/* Lesson Render Components */
.lesson-title {
  margin-bottom: 48px;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Lesson Editor Components */
.keybinds-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  width: 100%;
}

.keybind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}

.keybind kbd {
  background-color: var(--clr-gray-050);
}

.keybind .keys {
  display: flex;
  gap: 6px;
}

.editor-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
}

.editor-form__title,
.editor-form__content {
  background-color: var(--clr-gray-050);
  border: 2px solid var(--clr-gray-900);
  border-radius: 8px;
}

.editor-form__title {
  display: flex;
  gap: 4px;
  padding: 6px 12px;
}

/* TODO: make select fit content */
.editor-form__title select {
  appearance: none;
  background-color: transparent;
  max-width: 35%;
  text-overflow: ellipsis;
  border: none;
  font-size: inherit;
}

.editor-form__title span {
  position: relative;
  /* make the "/" on bottom aligned to the others */
  bottom: -3px;
}

.editor-form__title input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
}

.editor-form__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.editor-form__formatbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 16px;
  width: 100%;
  border-bottom: 2px solid var(--clr-gray-900);
}

.editor-form__formats {
  display: flex;
  width: 100%;
  overflow-y: auto;
  text-wrap: nowrap;
  list-style: none;
  scrollbar-width: none;
}

.editor-form__formatbar button {
  width: fit-content;
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
  outline: none;
}

.editor-form__formatbar button:hover,
.editor-form__formatbar button:focus-visible {
  background-color: var(--clr-primary-050);
}

.editor-form__editor {
  width: 100%;
  flex-grow: 1;
  padding: 16px;
  border-radius: none;
  border: none;
  outline: none;
  resize: none;
}

.editor-form__actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* YT Iframe Component */
iframe.yt {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Icon-Text Compound Component */
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 100ms ease-out;
}

/* :not(.icon-text) > .icon:hover { */
/*   color: var(--clr-gray-300); */
/* } */

/* Dropdown Menu Component */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--clr-gray-100);
  padding: 16px 24px;
  border: 2px solid var(--clr-gray-900);
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-content li > * {
  width: 100%;
}

/* Course Viewer */
header.course-header {
  background-color: var(--clr-primary-050);
  margin-bottom: 62px;
}

.course-title {
  margin-bottom: 8px;
}

.course-header-content p {
  margin-bottom: 32px;
}

.lessons-container h3 {
  margin-bottom: 32px;
}

.lessons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lesson-card {
  background-color: var(--clr-gray-050);
  padding: 16px 24px;
  border: 2px solid var(--clr-gray-900);
  border-radius: 4px;
}

.lesson-card details[open] summary {
  margin-bottom: 16px;
}

.lesson-card summary {
  user-select: none;
  cursor: pointer;
}
