body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container .lesson-title {
  margin-bottom: 48px;
  border-bottom: 1px solid var(--clr-gray-drk);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
  padding: 48px 0;
}

.editor input {
  background-color: inherit;
  border: none;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
}

.editor textarea {
  background-color: inherit;
  flex-grow: 1;
  border: none;
  font-family: serif;
  font-size: 16px;
  resize: none;
}

.editor textarea:focus,
.editor input {
  border: none;
  outline: none;
}

.editor .actions {
  display: flex;
  gap: 32px;
}

.editor .shortcuts {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor .shortcuts li {
  display: inline;
}
