body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* renderer */
.lesson-title {
  margin-bottom: 48px;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* editor */
.keybinds-dialog {
  background-color: var(--clr-gray-100);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 1px solid var(--clr-gray-900);
  border-radius: 12px;
  outline: none;
}

.keybinds-dialog::backdrop {
  background-color: color-mix(in srgb, black 30%, transparent);
}

.keybinds-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  width: fit-content;
}

@media screen and (width >= 500px) {
  .keybinds-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 900px) {
  .keybinds-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.keybind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}

.keybind kbd {
  background-color: var(--clr-gray-50);
}

.keybind .keybind-title {
  font-weight: 500;
}

.keybind .keys {
  display: flex;
  gap: 6px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-container .icon {
  color: var(--clr-gray-500);
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
  padding: 48px 0;
}

.editor input {
  background-color: inherit;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.editor .editor-area {
  background-color: inherit;
  flex-grow: 1;
  border: none;
  font-size: 16px;
  resize: none;
}

.editor .editor-area:focus,
.editor input {
  border: none;
  outline: none;
}

.editor .actions-container {
  display: flex;
  gap: 32px;
}

.editor .actions {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor .actions li {
  display: inline;
}

.editor .actions button {
  text-wrap: nowrap;
}
