:root {
  /* colors */
  /* the higher the number, the darker the color */
  /* and vice versa */
  --clr-primary-050: #cedffa;
  --clr-primary-100: #a7c9ff;
  --clr-primary-200: #4d94ff;
  --clr-primary-500: #194eac;
  --clr-primary-900: #0d244d;
  --clr-danger-050: #eda4b6;
  --clr-danger-900: #981e3c;
  --clr-gray-050: #fafafa;
  --clr-gray-100: #f5f5f5;
  --clr-gray-200: #e5e5e5;
  --clr-gray-300: #b5b5b5;
  --clr-gray-500: #757575;
  --clr-gray-700: #3a3a3a;
  --clr-gray-900: #111;

  --size-max-width: 800px;

  /* v is vertical, and h is horizontal */
  --space-screen-vgap: 48px;
  --space-screen-hgap: 16px;
  --space-sidebar-pad: 32px;
}
