<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    {# icons #}
    {# the icons query needs to be alphabetically ordered #}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=account_circle,add_box,close,code,delete,drag_indicator,edit,format_bold,format_h1,format_h2,format_h3,format_h4,format_italic,format_list_bulleted,format_list_numbered,format_quote,help,home,info,link,login,logout,menu,more_horiz,person_add,warning"
          rel="stylesheet" />
    {# css #}
    <link href="{{ url_for("static", filename="css/base.css") }}"
          rel="stylesheet">
    <link href="{{ url_for("static", filename="css/layout.css") }}"
          rel="stylesheet">
    <link href="{{ url_for("static", filename="css/components.css") }}"
          rel="stylesheet">
    {% block head %}
    {% endblock head %}
    <title>
      Courses
      {% if title %}— {{ title }}{% endif %}
    </title>
  </head>
  <body>
    <ul class="msg-container">
      {% for msg in get_flashed_messages(with_categories=True) %}
        <li class="msg {{ msg[0] }}">
          {% if msg[0] == "error" %}
            <span class="material-symbols-outlined icon">warning</span>
          {% else %}
            <span class="material-symbols-outlined icon">info</span>
          {% endif %}
          {{ msg[1] }}
        </li>
      {% endfor %}
    </ul>
    <header class="topbar">
      <span class="material-symbols-outlined icon menu-icon">menu</span>
      <span class="material-symbols-outlined icon close-icon">close</span>
      <p class="bold">
        Courses
        {% if title %}— {{ title }}{% endif %}
      </p>
    </header>
    <div class="wrapper">
      <aside class="sidebar">
        <nav>
          <ul class="links">
            <li>
              <a href="{{ url_for("root.index") }}">
                <span class="icon-text">
                  <span class="material-symbols-outlined icon">home</span>
                  <span class="text">Home</span>
                </span>
              </a>
            </li>
            <hr>
            {% if g.user %}
              <li>
                <a href="{{ url_for("root.course.create") }}">
                  <span class="icon-text">
                    <span class="material-symbols-outlined icon">add_box</span>
                    <span class="text">New Course</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ url_for("root.lesson.create") }}">
                  <span class="icon-text">
                    <span class="material-symbols-outlined icon">add_box</span>
                    <span class="text">New Lesson</span>
                  </span>
                </a>
              </li>
              <hr>
            {% endif %}
            {% if g.user %}
              <li>
                <a href="{{ url_for("root.auth.logout") }}">
                  <span class="icon-text">
                    <span class="material-symbols-outlined icon">logout</span>
                    <span class="text">Log Out</span>
                  </span>
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url_for("root.auth.login") }}">
                  <span class="icon-text">
                    <span class="material-symbols-outlined icon">login</span>
                    <span class="text">Log In</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ url_for("root.auth.register") }}">
                  <span class="icon-text">
                    <span class="material-symbols-outlined icon">person_add</span>
                    <span class="text">Register</span>
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% if g.user %}
          <div class="profile">
            <span class="material-symbols-outlined icon">account_circle</span>
            <div class="profile__details">
              <p class="bold">{{ g.user["username"] }}</p>
              <small>{{ g.user["email"] }}</small>
            </div>
          </div>
        {% endif %}
      </aside>
      <main>
        {% block body %}
        {% endblock body %}
      </main>
    </div>
    <script src="{{ url_for("static", filename="js/base.js")}}"></script>
  </body>
</html>
