<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    {# icons #}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=add_box,close,dashboard,home,logout,menu,settings,sms"
          rel="stylesheet" />
    {# css #}
    <link href="{{ url_for("static", filename="css/variables.css") }}"
          rel="stylesheet">
    <link href="{{ url_for("static", filename="css/base.css") }}"
          rel="stylesheet">
    {% block head %}
    {% endblock head %}
    <title>
      Courses
      {% if title %}— {{ title }}{% endif %}
    </title>
  </head>
  <body>
    <nav class="topbar">
      <span class="material-symbols-outlined icon menu-icon">menu</span>
      <h3>
        Courses
        {% if title %}— {{ title }}{% endif %}
      </h3>
    </nav>
    <div class="sidebar">
      <span class="material-symbols-outlined icon close-icon">close</span>
      <ul class="links">
        <li>
          <a href="{{ url_for("root.index") }}">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">home</span> Home
            </span>
          </a>
        </li>
        <li>
          <a href="" class="wip" title="Work In Progress">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">dashboard</span> Dashboard
            </span>
          </a>
        </li>
        <hr>
        <li>
          <a href="" class="wip" title="Work In Progress">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">add_box</span> New Course
            </span>
          </a>
        </li>
        <li>
          <a href="{{ url_for("lessons.create") }}">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">add_box</span> New Lesson
            </span>
          </a>
        </li>
        <hr>
        <li>
          <a href="" class="wip" title="Work In Progress">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">settings</span> Settings
            </span>
          </a>
        </li>
        <hr>
        <li>
          <a href="" class="wip" title="Work In Progress">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">sms</span> Contact Us
            </span>
          </a>
        </li>
        <hr>
        <li>
          <a href="" class="wip" title="Work In Progress">
            <span class="icon-text">
              <span class="material-symbols-outlined icon">logout</span> Log Out
            </span>
          </a>
        </li>
      </ul>
    </div>
    {% block body %}
    {% endblock body %}
    <script src="{{ url_for("static", filename="js/base.js")}}"></script>
  </body>
</html>
