{% extends "base.html" %}
{% block body %}
  <div class="container">
    <section>
      {% if g.user %}
        {# Logged-in users #}
        <h1>Your Courses</h1>
        {% if courses %}
          <div class="cards-container">
            {% for course in courses %}
              <div class="card" data-course-id="{{ course["courseid"] }}">
                <div class="card-header">
                  <div class="card-title">
                    <a href="{{ url_for("root.course.view", id=course["courseid"]) }}"
                       class="bold">{{ course["title"] }}</a>
                    <div class="dropdown">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon dropdown-btn"
                           fill="currentColor"
                           viewBox="0 0 256 256">
                        <path d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128ZM48,100a28,28,0,1,0,28,28A28,28,0,0,0,48,100Zm160,0a28,28,0,1,0,28,28A28,28,0,0,0,208,100Z">
                        </path>
                      </svg>
                      <ul class="dropdown-content">
                        <li>
                          <a href="{{ url_for("root.course.update", id=course["courseid"]) }}"
                             class="btn">
                            <span class="icon-text">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="icon"
                                   fill="currentColor"
                                   viewBox="0 0 256 256">
                                <path d="M224,128v80a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h80a8,8,0,0,1,0,16H48V208H208V128a8,8,0,0,1,16,0Zm5.66-58.34-96,96A8,8,0,0,1,128,168H96a8,8,0,0,1-8-8V128a8,8,0,0,1,2.34-5.66l96-96a8,8,0,0,1,11.32,0l32,32A8,8,0,0,1,229.66,69.66Zm-17-5.66L192,43.31,179.31,56,200,76.69Z">
                                </path>
                              </svg>
                              <span class="text">Edit</span>
                            </span>
                          </a>
                        </li>
                        <li>
                          <button class="btn"
                                  onclick="deleteEnt('course', id={{ course['courseid'] }})">
                            <span class="icon-text">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="icon"
                                   fill="currentColor"
                                   viewBox="0 0 256 256">
                                <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM112,168a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm0-120H96V40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z">
                                </path>
                              </svg>
                              <span class="text">Delete</span>
                            </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>{{ course["desc"] }}</p>
                </div>
                <p class="attr">
                  {{ course["lessoncount"] }}
                  {% if course["lessoncount"] != 1 %}
                    Lessons
                  {% else %}
                    Lesson
                  {% endif %}
                </p>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>It seems you don't have any courses yet.</p>
        {% endif %}
      {% else %}
        {# Logged-out users #}
        <div class="welcome">
          <h1>
            Welcome to <span class="logo">Courses.</span>
          </h1>
          <p>A place for sharing (and gaining) knowledge.</p>
        </div>
      {% endif %}
    </section>
  </div>
{% endblock body %}
