{% extends "base.html" %}
{% block body %}
  <div class="container">
    <section>
      {% if g.user %}
        {# Logged-in users #}
        <h1>Your Courses</h1>
        {% if courses %}
          <div class="cards-container">
            {% for course in courses %}
              <div class="card" data-course-id="{{ course["courseid"] }}">
                <div class="card-header">
                  <div class="card-title">
                    <a href="{{ url_for("root.course.view", id=course["courseid"]) }}"
                       class="bold">{{ course["title"] }}</a>
                    <div class="dropdown">
                      <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
                      <ul class="dropdown-content">
                        <li>
                          <a href="{{ url_for("root.course.update", id=course["courseid"]) }}"
                             class="btn">
                            <span class="icon-text">
                              <span class="material-symbols-outlined icon">edit</span>
                              <span class="text">Edit</span>
                            </span>
                          </a>
                        </li>
                        <li>
                          <button class="btn"
                                  onclick="deleteEnt('course', id={{ course['courseid'] }})">
                            <span class="icon-text">
                              <span class="material-symbols-outlined icon">delete</span>
                              <span class="text">Delete</span>
                            </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>{{ course["desc"] }}</p>
                </div>
                <p class="attr">
                  {{ course["lessoncount"] }}
                  {% if course["lessoncount"] != 1 %}
                    Lessons
                  {% else %}
                    Lesson
                  {% endif %}
                </p>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>It seems you don't have any courses yet.</p>
        {% endif %}
      {% else %}
        {# Logged-out users #}
        <div class="welcome">
          <h1>
            Welcome to <span class="logo">Courses.</span>
          </h1>
          <p>A place for sharing (and gaining) knowledge.</p>
        </div>
      {% endif %}
    </section>
  </div>
{% endblock body %}
