{% extends "base.html" %}
{% block body %}
  <form class="container pad-top pad-btm" method="post">
    <div class="input-container">
      <label for="title">Title</label>
      <input type="text"
             name="title"
             id="title"
             placeholder="My super awesome course"
             value="{{ course_title }}"
             required>
    </div>
    <div class="input-container">
      <label for="desc">Description</label>
      <input type="text"
             name="desc"
             id="desc"
             placeholder="This course covers x, y, and z"
             value="{{ course_desc }}"
             required>
    </div>
    <button type="submit" class="primary">Create</button>
  </form>
{% endblock body %}
