{% extends "base.html" %}
{% block body %}
  <header class="banner">
    <div class="container">
      <div>
        <div class="heading-group">
          <h1>{{ course_title }}</h1>
          {% if is_owner %}
            <div class="dropdown">
              <svg xmlns="http://www.w3.org/2000/svg"
                   class="icon dropdown-btn"
                   fill="currentColor"
                   viewBox="0 0 256 256">
                <path d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128ZM48,100a28,28,0,1,0,28,28A28,28,0,0,0,48,100Zm160,0a28,28,0,1,0,28,28A28,28,0,0,0,208,100Z">
                </path>
              </svg>
              <ul class="dropdown-content">
                <li>
                  <a href="{{ url_for(".update", id=course_id) }}" class="btn">
                    <span class="icon-text">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon"
                           fill="currentColor"
                           viewBox="0 0 256 256">
                        <path d="M224,128v80a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h80a8,8,0,0,1,0,16H48V208H208V128a8,8,0,0,1,16,0Zm5.66-58.34-96,96A8,8,0,0,1,128,168H96a8,8,0,0,1-8-8V128a8,8,0,0,1,2.34-5.66l96-96a8,8,0,0,1,11.32,0l32,32A8,8,0,0,1,229.66,69.66Zm-17-5.66L192,43.31,179.31,56,200,76.69Z">
                        </path>
                      </svg>
                      <span class="text">Edit</span>
                    </span>
                  </a>
                </li>
                <li>
                  <button class="btn" onclick="deleteEnt('course', id={{ course_id }}, true)">
                    <span class="icon-text">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon"
                           fill="currentColor"
                           viewBox="0 0 256 256">
                        <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM112,168a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm0-120H96V40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z">
                        </path>
                      </svg>
                      <span class="text">Delete</span>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        <p>{{ course_desc }}</p>
      </div>
      <small>By: {{ owner_username }}</small>
    </div>
  </header>
  <div class="container">
    <div class="lessons-container">
      <div class="heading-group">
        <h2>Lessons</h2>
        <a href="{{ url_for("root.lesson.create", course=course_id) }}"
           class="btn primary">Add a Lesson</a>
      </div>
      <div class="cards-container">
        {% if lessons %}
          {% for lesson in lessons %}
            <div class="card"
                 data-lesson-id="{{ lesson["lessonid"] }}"
                 draggable="true">
              <div class="card-header">
                <div class="card-title">
                  {% if is_owner %}
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon drag-area"
                         fill="currentColor"
                         viewBox="0 0 256 256">
                      <path d="M108,60A16,16,0,1,1,92,44,16,16,0,0,1,108,60Zm56,16a16,16,0,1,0-16-16A16,16,0,0,0,164,76ZM92,112a16,16,0,1,0,16,16A16,16,0,0,0,92,112Zm72,0a16,16,0,1,0,16,16A16,16,0,0,0,164,112ZM92,180a16,16,0,1,0,16,16A16,16,0,0,0,92,180Zm72,0a16,16,0,1,0,16,16A16,16,0,0,0,164,180Z">
                      </path>
                    </svg>
                  {% endif %}
                  <a href="{{ url_for("root.lesson.view", id=lesson["lessonid"]) }}"
                     class="main-title bold">{{ lesson["title"] }}</a>
                  {% if is_owner %}
                    <div class="dropdown">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon dropdown-btn"
                           fill="currentColor"
                           viewBox="0 0 256 256">
                        <path d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128ZM48,100a28,28,0,1,0,28,28A28,28,0,0,0,48,100Zm160,0a28,28,0,1,0,28,28A28,28,0,0,0,208,100Z">
                        </path>
                      </svg>
                      <ul class="dropdown-content">
                        <li>
                          <a href="{{ url_for("root.lesson.update", id=lesson["lessonid"]) }}"
                             class="btn">
                            <span class="icon-text">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="icon"
                                   fill="currentColor"
                                   viewBox="0 0 256 256">
                                <path d="M224,128v80a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h80a8,8,0,0,1,0,16H48V208H208V128a8,8,0,0,1,16,0Zm5.66-58.34-96,96A8,8,0,0,1,128,168H96a8,8,0,0,1-8-8V128a8,8,0,0,1,2.34-5.66l96-96a8,8,0,0,1,11.32,0l32,32A8,8,0,0,1,229.66,69.66Zm-17-5.66L192,43.31,179.31,56,200,76.69Z">
                                </path>
                              </svg>
                              <span class="text">Edit</span>
                            </span>
                          </a>
                        </li>
                        <li>
                          <button onclick="deleteEnt('lesson', id={{ lesson['lessonid'] }})"
                                  class="btn">
                            <span class="icon-text">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="icon"
                                   fill="currentColor"
                                   viewBox="0 0 256 256">
                                <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM112,168a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm0-120H96V40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z">
                                </path>
                              </svg>
                              <span class="text">Delete</span>
                            </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          It seems this course is still empty.
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{{ url_for("static", filename="js/course-view.js") }}"></script>
{% endblock body %}
