{% extends "base.html" %}
{% block body %}
  <header class="banner">
    <div class="container">
      <div>
        <div class="heading-group">
          <h1>{{ course_title }}</h1>
          {% if is_owner %}
            <div class="dropdown">
              <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
              <ul class="dropdown-content">
                <li>
                  <a href="{{ url_for(".update", id=course_id) }}" class="btn">
                    <span class="icon-text">
                      <span class="material-symbols-outlined icon">edit</span>
                      <span class="text">Edit</span>
                    </span>
                  </a>
                </li>
                <li>
                  <button class="btn" onclick="deleteEnt('course', id={{ course_id }}, true)">
                    <span class="icon-text">
                      <span class="material-symbols-outlined icon">delete</span>
                      <span class="text">Delete</span>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        <p>{{ course_desc }}</p>
      </div>
      <small>By: {{ owner_username }}</small>
    </div>
  </header>
  <div class="container">
    <div class="lessons-container">
      <div class="heading-group">
        <h2>Lessons</h2>
        <a href="{{ url_for("root.lesson.create", course=course_id) }}"
           class="btn primary">Add a Lesson</a>
      </div>
      <div class="cards-container">
        {% if lessons %}
          {% for lesson in lessons %}
            <div class="card"
                 data-lesson-id="{{ lesson["lessonid"] }}"
                 draggable="true">
              <div class="card-header">
                <div class="card-title">
                  {% if is_owner %}<span class="material-symbols-outlined icon drag-area">drag_indicator</span>{% endif %}
                  <a href="{{ url_for("root.lesson.view", id=lesson["lessonid"]) }}"
                     class="main-title bold">{{ lesson["title"] }}</a>
                  {% if is_owner %}
                    <div class="dropdown">
                      <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
                      <ul class="dropdown-content">
                        <li>
                          <a href="{{ url_for("root.lesson.update", id=lesson["lessonid"]) }}"
                             class="btn">
                            <span class="icon-text">
                              <span class="material-symbols-outlined icon">edit</span>
                              <span class="text">Edit</span>
                            </span>
                          </a>
                        </li>
                        <li>
                          <button onclick="deleteEnt('lesson', id={{ lesson['lessonid'] }})"
                                  class="btn">
                            <span class="icon-text">
                              <span class="material-symbols-outlined icon">delete</span>
                              <span class="text">Delete</span>
                            </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          It seems this course is still empty.
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{{ url_for("static", filename="js/course-view.js") }}"></script>
{% endblock body %}
