{% extends "base.html" %}
{% block body %}
  <header class="course-header-container">
    <div class="container pad-vertical course-header">
      <div>
        <div class="flex-container space-between align-center course-title">
          <h2>{{ course_title }}</h2>
          {% if is_owner %}
            <div class="dropdown">
              <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
              <ul class="dropdown-content">
                <li>
                  <a href="{{ url_for(".update", id=course_id) }}" class="btn">
                    <span class="icon-text">
                      <span class="material-symbols-outlined icon">edit</span>
                      <span class="text">Edit</span>
                    </span>
                  </a>
                </li>
                <li>
                  <button class="btn" onclick="deleteEnt('course', id={{ course_id }}, true)">
                    <span class="icon-text">
                      <span class="material-symbols-outlined icon">delete</span>
                      <span class="text">Delete</span>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        <p>{{ course_desc }}</p>
      </div>
      <small>By: {{ owner_username }}</small>
    </div>
  </header>
  <div class="container pad-vertical lessons-container">
    <div class="flex-container space-between align-center heading-margin">
      <h3>Lessons</h3>
      <a href="{{ url_for("root.lesson.create", course=course_id) }}"
         class="btn primary">Add a Lesson</a>
    </div>
    <div class="lessons-wrapper">
      {% if lessons %}
        {% for lesson in lessons %}
          <div class="lesson-card"
               data-lesson-id="{{ lesson["lessonid"] }}"
               draggable="true">
            {% if is_owner %}<span class="material-symbols-outlined icon drag-area">drag_indicator</span>{% endif %}
            <a href="{{ url_for("root.lesson.view", id=lesson["lessonid"]) }}">
              <h4>{{ lesson["title"] }}</h4>
            </a>
            {% if is_owner %}
              <div class="dropdown">
                <span class="material-symbols-outlined icon dropdown-btn">more_horiz</span>
                <ul class="dropdown-content">
                  <li>
                    <a href="{{ url_for("root.lesson.update", id=lesson["lessonid"]) }}"
                       class="btn">
                      <span class="icon-text">
                        <span class="material-symbols-outlined icon">edit</span>
                        <span class="text">Edit</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <button onclick="deleteEnt('lesson', id={{ lesson['lessonid'] }})"
                            class="btn">
                      <span class="icon-text">
                        <span class="material-symbols-outlined icon">delete</span>
                        <span class="text">Delete</span>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        It seems this course is still empty.
      {% endif %}
    </div>
  </div>
  <script src="{{ url_for("static", filename="js/course-view.js") }}"></script>
{% endblock body %}
